.info_section {
	background: linear-gradient(195deg, #42424a 0%, #191919 100%);
  color: #ffffff;
  height: 300px;
}

.info_section .container5{
  margin-left: 70px;
}
.info_section a {
  color: #ffffff;
}

.info_section h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #EC407A;
}
.info_section .info-logo{
  margin-right: 20px;
  margin-top: 25px;
}
.info_section .info-logo h2 {
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-right: 15px;
  color: #EC407A;

}
.info_section .info-logo p {
  color: #ffffff;
}
.info_section .info-nav{
  margin-top: 35px;
  padding-left: 44px;

}
.info_section .info-nav ul {
  padding-left: 19px;
}

.info_section .info-nav ul li {
  list-style-type: none;
  position: relative;
  margin: 3px 0;
  font-size: 22px;
}

.info_section .info-nav ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
}

.info_section .info-contact h6 {
  color: #000000;
  font-size: 18px;
}

.info_section .info-contact .call {
  margin-top: 20px;
}
.info_section .contact {
  margin-top: 40px;
}
.info_section .contact p {
  padding: 0;
  color: #ffffff;
  

}

.info_section .contact p {
  list-style-type: none;
  margin: 5px 0;
}
.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  border-radius: 50%;
  margin: 10px;
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: #EC407A;
  transform: scale(1.2);
}
